@font-face {
	font-family: 'HKGrotesk-Black';
	src: url('../fonts/HKGrotesk-Black.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

*,
:after,
:before {
    box-sizing: inherit;
}

html {
	box-sizing: border-box;
    font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
	color: #001d1d;
	background: rgba(0, 0, 0, 0.7);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.9);
}

#conteneur {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5% 1%;
	scrollbar-color: rgba(0, 0, 0, 0.9) transparent;
	scrollbar-width: thin;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#outils {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1024px;
	margin: auto;
	padding: 1%;
}

#outils .outil {
	position: relative;
	display: inline-block;
	width: 23%;
	padding-bottom: 23%;
	margin: auto;
	height: auto;
	line-height: 1;
	margin: 1%;
}

#outils .outil:hover {
	opacity: 0.9;
}

#outils .outil .contenu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#outils .outil .contenu header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 0.5rem solid #001d1d;
}

#outils .outil.application .contenu header {
	background: #00ced1;
}

#outils .outil.logiciel .contenu header {
	background: #f7d000;
}

#outils .outil .contenu header h5 {
	display: block;
	font-family: 'HKGrotesk-Black', sans-serif;
	font-weight: 400;
	font-size: 2.1rem;
	text-align: center;
	letter-spacing: 1px;
	text-indent: 1px;
}

#outils .outil .contenu .meta {
	position: absolute;
	left: 0;
	top: 120px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: calc(100% - 120px);
	width: 100%;
	background: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#outils .outil.application .contenu .meta {
	border-left: 2px solid #00ced1;
	border-right: 2px solid #00ced1;
	border-bottom: 2px solid #00ced1;
}

#outils .outil.logiciel .contenu .meta {
	border-left: 2px solid #f7d000;
	border-right: 2px solid #f7d000;
	border-bottom: 2px solid #f7d000;
}

#outils .outil .contenu .meta span {
	display: block;
	color: #222;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 10px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (max-width: 767px) {
	html {
        font-size: 56.5%;
	}
	
	#conteneur {
		padding: 7% 1.5%;
	}
	
	#outils {
		padding: 1.5%;
	}
	
	#outils .outil {
		width: 47%;
		padding-bottom: 47%;
		margin: 1.5%;
	}
}

@media screen and (min-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (max-width: 359px) {
	#outils .outil .contenu header {
		height: 72px;
	}

	#outils .outil .contenu header h5 {
		font-size: 1.3rem;
	}

	#outils .outil .contenu .meta {
		top: 72px;
		height: calc(100% - 72px);
	}

	#outils .outil .contenu .meta span {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 360px) and (max-width: 399px) {
	#outils .outil .contenu header {
		height: 80px;
	}

	#outils .outil .contenu header h5 {
		font-size: 1.5rem;
	}
	
	#outils .outil .contenu .meta {
		top: 80px;
		height: calc(100% - 80px);
	}

	#outils .outil .contenu .meta span {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 400px) and (max-width: 599px) {
	#outils .outil .contenu header {
		height: 95px;
	}
	
	#outils .outil .contenu .meta {
		top: 95px;
		height: calc(100% - 95px);
	}
	
	#outils .outil .contenu header h5 {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 600px) and (max-width: 1023px) and (orientation: portrait) {
	#outils .outil .contenu .meta span {
		font-size: 1.7rem;
	}

	#outils .outil .contenu .liens a {
		font-size: 1.7rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
	#outils {
		padding: 1.5%;
	}

	#outils .outil {
		width: calc(91% / 3);
		padding-bottom: calc(91% / 3);
		margin: 1.5%;
	}
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
	#outils {
		padding: 1.5%;
	}

	#outils .outil {
		width: calc(91% / 3);
		margin: 1.5%;
	}
}

@media screen and (max-width: 735px) and (orientation: landscape) {
	#outils .outil {
		padding-bottom: 33%;
	}
}

@media screen and (min-width: 736px) and (max-width: 1023px) and (orientation: landscape) {
	#outils .outil {
		padding-bottom: 27%;
	}
}
