* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
	min-height: 100%;
	background: #eee;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	color: #222;
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 50px;
}

.conteneur {
	max-width: 768px;
	background: #fff;
	margin: 0px auto 0px;
	box-shadow: 1px 1px 2px #dad7d7;
	border-radius: 3px;
	padding: 40px;
	margin-top: 50px;
}

.header {
	margin-bottom: 30px;
}

.header .nom-complet {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header .prenom {
    font-weight: 700;
}

.header .nom {
    font-weight: 300;
}

.header .contact {
    margin-bottom: 20px;
}

.header .email {
    color: #555;
    font-weight: 300;
}

.header .resume {
    font-weight: bold;
    display: inline-block;
}

.details .section {
    margin-bottom: 40px;
}

.details .section:last-of-type {
    margin-bottom: 0px;
}

.details .section-titre {
    font-size: 18px;
	letter-spacing: 2px;
	color: #FF2D55;
	font-weight: bold;
    padding-bottom: 10px;
	margin-bottom: 20px;
    border-bottom: 1px solid #FF2D55;
	text-transform: uppercase;
    line-height: 1.3;
}

.details .section-item {
    margin-bottom: 25px;
}

.details .section-item:last-of-type {
    margin-bottom: 0;
}

.details .gauche,
.details .droite {
    vertical-align: top;
    display: inline-block;
}

.details .gauche {
    width: 60%;
}

.details .droite {
    text-align: right;
    width: 39%;
}

.details .info {
    color: #555;
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 1.3;
}

.details .texte,
.details .missions {
    line-height: 1.3;
}

.details .poste,
.details .projet,
.details .institution {
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.3;
}

.details a {
    text-decoration: none;
    color: #00CED1;
}

.details a:hover {
	text-decoration: underline;
    color: #000;
}

.details .langues-item,
.details .competences-item {
    margin-bottom: 10px;
}

.details .langues-item .droite input,
.details .competences-item .droite input {
    display: none;
}

.details .langues-item .droite label,
.details .competences-item .droite label {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #B7FDFF;
	border-radius: 20px;
	margin-right: 3px;
}

.details .langues-item .droite input:checked + label,
.details .competences-item .droite input:checked + label {
	background: #00CED1;
}

@media screen and (max-width: 767px) {
    .conteneur {
        padding: 20px;
    }

    .details .gauche,
    .details .droite {
        text-align: left;
        width: 100%;
    }

    .details .langue,
    .details .competence {
        margin-bottom: 5px;
        line-height: 1.3;
    }
}
