/* @font-face {
	font-family: 'HKGroteskWide-ExtraBold';
	src: url('../fonts/HKGroteskWide-ExtraBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'HKGrotesk-Black';
	src: url('../fonts/HKGrotesk-Black.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Elsie Swash Caps';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Elsie-Swash-Caps.woff2') format('woff2');
}

@font-face {
	font-family: 'Medula One';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Medula-One-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    display: inline-block;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
	font-size: inherit;
	line-height: inherit;
	vertical-align: top;
	text-transform: none!important;
}

*,
:after,
:before {
    box-sizing: inherit;
}

html {
	box-sizing: border-box;
    font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
	color: #001d1d;
	background: #fff;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
main {
	width: 100%;
	height: 100%;
}

header {
	border-bottom: 0.5rem solid #001d1d;
}

header img {
	max-height: 7rem;
	max-width: 100%;
}

#accueil {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% + 0.5rem);
	background: #00ced1;
	width: 100%;
	padding: 0 2.5rem;
	border-bottom: 0.5rem solid #001d1d;
}

#accueil nav {
	position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    font-weight: 400;
}

#accueil nav a {
	display: inline-block;
	margin-left: 1.5rem;
}

#accueil nav a:hover {
	text-decoration: underline;
}

#la-digitale {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 7rem 12rem;
	border-radius: 5rem;
	background: #00ced1;
	box-shadow: inset 20px 20px 60px #00afb2, inset -20px -20px 60px #00edf0;
}

#la-digitale h1 {
    font-family: 'HKGroteskWide-ExtraBold', 'HKGrotesk-Black', sans-serif;
	font-size: 10rem;
	font-weight: 400;
	width: 100%;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	letter-spacing: 0.7rem;
	text-indent: 0.7rem;
	color: #001d1d;
}

#la-digitale h1:after {
    content: '';
    display: block;
    height: 1.2rem;
    background-color: #001d1d;
    margin: 2rem auto 3.5rem;
    width: 20rem;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#la-digitale h2 {
    font-family: 'Elsie Swash Caps', sans-serif;
	font-size: 4.5rem;
	width: 100%;
	text-align: center;
	letter-spacing: 0.25rem;
	text-indent: 0.25rem;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	color: #001d1d;
}

#conteneur-la-digitale {
	width: 100%;
}

#fleche {
	position: absolute;
	bottom: 2.5rem;
	font-size: 7rem;
	color: #001d1d;
	animation: bounce 2s infinite;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	line-height: 1;
	cursor: pointer;
}

.conteneur {
	width: 100%;
	max-width: 102.4rem;
	padding: 2.5rem 4.5rem;
	margin: 2.5rem auto;
	font-size: 0;
}

#projet {
	margin: 5rem auto 2.5rem;
}

.conteneur h1 {
	font-family: 'HKGrotesk-Black', sans-serif;
	font-size: 4.2rem;
	font-weight: 400;
	padding-bottom: 3.5rem;
	margin-bottom: 3.5rem;
	border-bottom: 0.25rem solid #ddd;
}

.conteneur h3 {
	font-family: 'HKGrotesk-Black', sans-serif;
	font-size: 3.5rem;
	font-weight: 400;
	margin-bottom: 3.5rem;
}

.conteneur h3:after {
    content: '';
    display: block;
    height: 8px;
    background-color: #de6045;
    width: 12rem;
	margin-top: 5px;
}

.conteneur.page h3 {
	margin-top: 5rem;
}

.conteneur ol {
	counter-reset: services;
}

.conteneur li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
	counter-increment: services;
	margin-bottom: 2.5rem;
}

.conteneur li:before {
	content: counter(services);
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	margin-right: 1.5rem;
	text-align: center;
	background: #de6045;
	border-radius: 50%;
	font-size: 2.1rem;
	font-weight: 400;
	color: #fff;		
}

.conteneur li:last-child {
	margin-bottom: 0;
}

.conteneur li span {
	width: calc(100% - 5.5rem);
	font-size: 2rem;
}

.conteneur blockquote {
    position: relative;
    font-family: 'Medula One', sans-serif;
    margin: 0 0 7rem;
}

.conteneur blockquote:last-child {
    margin: 0 0 1rem;
}

.conteneur blockquote div {
    position: relative;
    color: #de6045;
    font-size: 5.1rem;
    font-weight: normal;
    line-height: 1.2;
	letter-spacing: 0.2rem;
    margin: 0;
    border: 2px solid #de6045;
    border-radius: 2rem;
    padding: 4.5rem 3.5rem;
}

.conteneur blockquote div:after {
    content: '';
    position: absolute;
    border: 2px solid #de6045;
    border-radius: 0 5rem 0 0;
    width: 6rem;
    height: 6rem;
    bottom: -6rem;
    left: 5rem;
    border-bottom: none;
    border-left: none;
    z-index: 3; 
}

.conteneur blockquote div:before {
    content: '';
    position: absolute;
    width: 8rem;
    border: 6px solid #fff;
    bottom: -3px;
    left: 5rem;
    z-index: 2;
}

.conteneur blockquote span {
    position: relative;
	display: block;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
	letter-spacing: 0.1rem;
    margin: 0;
    padding-top: 2rem;
    z-index: 1;
    margin-left: calc(13rem + 2px);
    padding-left: 1.2rem;
}
 
.conteneur blockquote span:first-letter {
	margin-left: -1.2rem;
}

#outils p {
	font-size: 2rem;
}

#outils p.fin {
    margin-top: 2rem;
    margin-bottom: 0;
}

#outils p a {
	color: #555;
	text-decoration: underline;
}

#outils h4 {
	font-size: 2rem;
    font-weight: 700;
    color: #001d1d;
    text-transform: uppercase;
    margin-bottom: 2rem;
	margin-top: 3.5rem;
}

#outils h4:after {
    content: '';
    display: block;
    height: 5px;
    width: 8rem;
    margin-top: 5px;
}

#outils h4#titre-applications:after {
    background-color: #00ced1;
}

#outils h4#titre-logiciels:after {
    background-color: #f7d000;
}

#outils h4#titre-apps:after {
    background-color: #ff2d55;
}

#outils h4#digidrive:after,
#outils h4#modele-economique:after {
    background-color: #001d1d;
}

#outils .applications,
#outils #logiciels,
#outils #apps {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

#outils .applications > h5 {
	display: block;
	width: 100%;
	font-size: 2rem;
    font-weight: 700;
    color: #001d1d;
    margin-bottom: 2rem;
	line-height: 1.1;
}

#outils h5:after {
    content: '';
    display: block;
    height: 3px;
    width: 5rem;
    margin-top: 8px;
	background-color: #001d1d;
}

#outils .application {
	position: relative;
	display: inline-block;
	background: #fff;
	width: 23%;
	padding-bottom: 23%;
	margin-right: calc(8%/3);
	height: auto;
	line-height: 1;
	transition: all ease-in 0.1s;
	box-shadow: 0.6rem 0.6rem 1.2rem #d2dce9, -0.5rem -0.5rem 1rem #fff;
	border-radius: 10px;
}

#outils .application:last-child {
	margin-right: 0;
}

#outils .application .contenu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#outils .application .contenu header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#outils #applications .application .contenu header {
	background: #00ced1;
}

#outils #logiciels .application .contenu header {
	background: #f7d000;
}

#outils #apps .application .contenu header {
	background: #ff2d55;
}

#outils .application .contenu header h6 {
	display: block;
	font-family: 'HKGrotesk-Black', sans-serif;
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
	letter-spacing: 1px;
}

#outils .application .contenu .meta {
	position: absolute;
	left: 0;
	top: 80px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: calc(100% - 120px);
	width: 100%;
}

#outils #applications .application .contenu .meta {
	border-left: 2px solid #00ced1;
	border-right: 2px solid #00ced1;
}

#outils #logiciels .application .contenu .meta {
	border-left: 2px solid #f7d000;
	border-right: 2px solid #f7d000;
}

#outils #apps .application .contenu .meta {
	border-left: 2px solid #ff2d55;
	border-right: 2px solid #ff2d55;
}

#outils .application.desactive .contenu .meta {
	height: calc(100% - 80px);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#outils #applications .application.desactive .contenu .meta {
	border-bottom: 2px solid #00ced1;
}

#outils #logiciels .application.desactive .contenu .meta {
	border-bottom: 2px solid #f7d000;
}

#outils #apps .application.desactive .contenu .meta {
	border-bottom: 2px solid #ff2d55;
}

#outils .application .contenu .meta span {
	display: block;
	color: #222;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 10px;
    text-align: center;
    line-height: 1.5;
}

#outils .application .contenu .liens {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
    height: 40px;
	color: #001d1d;
	font-size: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#outils #applications .application .contenu .liens {
	border: 2px solid #00ced1;
}

#outils #logiciels .application .contenu .liens {
	border: 2px solid #f7d000;
}

#outils #apps .application .contenu .liens {
	border: 2px solid #ff2d55;
}

#outils .application .contenu .liens a {
	display: inline-block;
    width: 50%;
	line-height: 36px;
	text-align: center;
	font-size: 1.5rem;
	transition: all ease-in 0.1s;
}

#outils .application .contenu .liens a:hover {
	font-weight: 700;
}

#outils #applications .application .contenu .liens a:first-child {
	border-right: 2px solid #00ced1;
}

#outils #logiciels .application .contenu .liens a:first-child {
	border-right: 2px solid #f7d000;
}

#outils #apps .application .contenu .liens a:first-child {
	width: 100%;
	border-right: none;
}

#histoire,
#don,
#don-digidrive {
	display: block;
    margin-top: 3.5rem;
	width: 100%;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #001d1d;
	padding: 1.5rem 2rem;
	border: 2px solid #001d1d;
	transition: all ease-in 0.1s;
}

#histoire:hover,
#don:hover,
#don-digidrive:hover {
	background: #46fbff;
}

#don {
	margin-bottom: calc(3.5rem + 3%);
}

#contact p {
	font-size: 2rem;
	margin-bottom: 2.5rem;
}

#contact label {
	display: block;
	font-weight: 700;
	font-size: 1.7rem;
	margin-bottom: 1.2rem;
}

#contact input[type="email"],
#contact input[type="number"] {
	font-size: 2rem;
	padding: 1.5rem 2rem;
	border: 1px solid #ddd;
}

#contact input[type="email"] {
	width: 100%;
	margin-bottom: 2.5rem;
}

#contact input[type="number"] {
	width: 150px;
}

#contact textarea:focus,
#contact input[type="email"]:focus,
#contact input[type="number"]:focus {
	border: 1px solid #00ced1;
}

#contact textarea {
	font-size: 2rem;
	padding: 1.5rem 2rem;
	border: 1px solid #ddd;
	min-width: 100%;
    max-width: 100%;
    min-height: 100px;
	margin-bottom: 2.5rem;
}

#contact textarea.erreur,
#contact input.erreur {
	border: 1px solid red;
}

#contact .message-envoye {
	display: block;
	font-size: 2.7rem;
	font-weight: 700;
	color: #00ced1;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	padding: 5rem 0;
}

#contact .message-envoye.erreur {
	color: #ff7575;
}

#contact input[type="submit"] {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #001d1d;
	padding: 1.5rem 2rem;
	border: 2px solid #001d1d;
	margin-top: 2.5rem;
	transition: all ease-in 0.1s;
}

#contact input[type="submit"]:hover {
	background: #46fbff;
}

footer {
	padding: 5rem 0;
	background: #00ced1;
	color: #001d1d;
	border-top: 0.5rem solid #001d1d;
}

footer .conteneur p {
	font-size: 1.7rem;
	font-weight: 400;
}

footer .conteneur p {
	margin-bottom: 2.5rem;
}

footer .conteneur p:last-child {
	margin-bottom: 0;
}

footer .conteneur span {
	display: block;
	width: 100px;
	height: 1px;
	margin: 3.5rem 0;
	background: #001d1d;
}

.conteneur.page p {
	font-size: 1.7rem;
	font-weight: 400;
	margin-bottom: 1.5rem;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-2rem);
	}
	60% {
		transform: translateY(-1.5rem);
	}
}

@media screen and (max-width: 767px) {
	html {
        font-size: 56.5%;
	}
	
	#projet {
		margin: 3.5rem auto 2.5rem;
	}
	
	.conteneur {
		padding: 2rem 2.5rem;
		margin: 2rem auto;
	}

	.conteneur h3 {
		margin-bottom: 2.5rem;
	}
	
	.conteneur.page h3 {
		margin-top: 4rem;
	}

	.conteneur li {
		margin-bottom: 2rem;
	}
	
	#outils p {
		margin-bottom: 2.5rem;
	}
	
	#outils .application {
		margin-bottom: 2.5rem;
		width: 47%;
		padding-bottom: 47%;
		margin-right: 6%;
	}
	
	#outils .application:nth-of-type(2n) {
		margin-right: 0;
	}
}

@media screen and (min-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

@media screen and (max-width: 359px) {
	#la-digitale h1 {
		font-size: 3.2rem!important;
	}

	#outils .application .contenu header {
		height: 40px;
	}

	#outils .application .contenu header h6 {
		font-size: 1.3rem;
	}

	#outils .application .contenu .meta {
		top: 40px;
		height: calc(100% - 72px);
	}
	
	#outils .application.desactive .contenu .meta {
		height: calc(100% - 40px);
	}

	#outils .application .contenu .meta span {
		font-size: 1.1rem;
	}
	
	#outils .application .contenu .liens {
		height: 32px;
	}

	#outils .application .contenu .liens a {
		font-size: 1.1rem;
		line-height: 28px;
	}
}

@media screen and (min-width: 360px) and (max-width: 399px) {
	#outils .application .contenu header {
		height: 45px;
	}

	#outils .application .contenu header h6 {
		font-size: 1.4rem;
	}
	
	#outils .application .contenu .meta {
		top: 45px;
		height: calc(100% - 80px);
	}
	
	#outils .application.desactive .contenu .meta {
		height: calc(100% - 45px);
	}

	#outils .application .contenu .meta span {
		font-size: 1.3rem;
	}
	
	#outils .application .contenu .liens {
		height: 35px;
	}
	
	#outils .application .contenu .liens a {
		font-size: 1.3rem;
		line-height: 31px;
	}
}

@media screen and (max-width: 399px) {
	#accueil {
		padding: 0 2rem;
	}

	#accueil nav {
		font-size: 1.5rem;
	}
	
	#accueil nav a {
		margin-left: 0.5rem;
	}

	#la-digitale {
		width: 100%;
		padding: 5rem 0;
		border-radius: 4rem;
	}
	
	#la-digitale h1 {
		font-size: 3.9rem;
		letter-spacing: 0.25rem;
		text-indent: 0.25rem;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
	
	#la-digitale h1:after {
		margin: 2rem auto 2.5rem;
		height: 0.5rem;
		width: 10rem;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
	
	#la-digitale h2 {
		font-size: 2rem;
		letter-spacing: 0.15rem;
		text-indent: 0.15rem;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
	
	#fleche {
		font-size: 4rem;
		bottom: 2.5rem;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
	
	.conteneur h1 {
		font-size: 2.5rem;
	}
	
	.conteneur h3 {
		font-size: 2rem;
	}
	
	.conteneur.page h3 {
		margin-top: 3.7rem;
	}
	
	.conteneur h3:after {
		height: 6px;
	}

	.conteneur li:before {
		width: 3rem;
		height: 3rem;
		line-height: 3rem;
		margin-right: 1.2rem;
		font-size: 1.7rem;
	}
	
	.conteneur li span {
		width: calc(100% - 4.2rem);
		font-size: 1.7rem;
	}
	
	.conteneur blockquote div {
		font-size: 3rem;
		padding: 2.5rem 2rem;
	}
	
	.conteneur blockquote span {
		font-size: 1.9rem;
	}

	#outils h4:after {
		height: 4px;
	}

	#contact label {
		font-size: 1.4rem;
	}
	
	#outils .applications > h5,
	#contact p,
	#contact textarea,
	#outils p {
		font-size: 1.7rem!important;
	}
	
	#don,
	#histoire,
	#contact input {
		font-size: 1.5rem!important;
	}
	
	footer .conteneur p {
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 400px) and (max-width: 599px) {
	#accueil nav {
		font-size: 1.7rem;
	}
	
	#accueil nav a {
		margin-left: 1rem;
	}

	#la-digitale {
		border-radius: 4rem;
	}
	
	#la-digitale h1 {
		letter-spacing: 0.35rem;
		text-indent: 0.35rem;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
	
	#la-digitale h1:after {
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
	
	#la-digitale h2 {
		letter-spacing: 0.15rem;
		text-indent: 0.15rem;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}

	#fleche {
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
	
	.conteneur h1 {
		font-size: 3rem;
	}
	
	.conteneur h3 {
		font-size: 2.3rem;
	}
	
	.conteneur.page h3 {
		margin-top: 4rem;
	}
	
	.conteneur h3:after {
		height: 6px;
	}

	.conteneur li:before {
		width: 3.5rem;
		height: 3.5rem;
		line-height: 3.5rem;
		margin-right: 1.2rem;
		font-size: 1.9rem;
	}
	
	.conteneur li span {
		width: calc(100% - 4.7rem);
		font-size: 1.9rem;
	}
	
	.conteneur blockquote div {
		font-size: 3.5rem;
		padding: 3rem 2rem;
	}
	
	.conteneur blockquote span {
		font-size: 2.1rem;
	}
	
	#outils .application .contenu header {
		height: 55px;
	}
	
	#outils .application .contenu .meta {
		top: 55px;
		height: calc(100% - 95px);
	}
	
	#outils .application.desactive .contenu .meta {
		height: calc(100% - 55px);
	}
	
	#outils .application .contenu header h6 {
		font-size: 1.8rem;
	}

	#outils .application .contenu .meta span {
		font-size: 1.4rem;
	}

	#outils .application .contenu .liens a {
		font-size: 1.4rem;
	}

	#outils h4:after {
		height: 4px;
	}
	
	#contact label {
		font-size: 1.5rem;
	}
	
	#outils .applications > h5,
	#contact p,
	#contact textarea,
	#outils p {
		font-size: 1.9rem!important;
	}
	
	#don,
	#histoire,
	#contact input {
		font-size: 1.7rem!important;
	}
	
	footer .conteneur p {
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 400px) and (max-width: 599px) and (orientation: portrait) {
	#la-digitale {
		width: 100%;
		padding: 5rem 0;
	}
	
	#la-digitale h1 {
		font-size: 4.5rem;
	}
	
	#la-digitale h1:after {
		height: 0.7rem;
		width: 12rem;
		margin: 2.5rem auto 3rem;
	}
	
	#la-digitale h2 {
		font-size: 2.5rem;
	}

	#fleche {
		bottom: 3.5rem;
		font-size: 5.2rem;
	}
}

@media screen and (max-width: 820px) and (orientation: landscape) {
	#accueil nav {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 400px) and (max-width: 599px) and (orientation: landscape) {
	#la-digitale {
		padding: 2.5rem 5rem;
	}
	
	#la-digitale h1 {
		font-size: 3.5rem;
	}
	
	#la-digitale h1:after {
		height: 0.5rem;
		width: 10rem;
		margin: 1.5rem auto 2rem;
	}
	
	#la-digitale h2 {
		font-size: 2rem;
	}

	#fleche {
		bottom: 1rem;
		font-size: 4rem;
	}
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
	#la-digitale {
		border-radius: 4rem;
	}
	
	#la-digitale h1 {
		letter-spacing: 0.5rem;
		text-indent: 0.5rem;
	}
	
	#la-digitale h1:after {
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
	
	#la-digitale h2 {
		letter-spacing: 0.2rem;
		text-indent: 0.2rem;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
	
	#fleche {
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
	
	.conteneur h1 {
		font-size: 3.2rem;
	}
	
	.conteneur h3 {
		font-size: 2.5rem;
	}
	
	.conteneur.page h3 {
		margin-top: 4.2rem;
	}
	
	.conteneur h3:after {
		height: 7px;
	}

	.conteneur li:before {
		width: 3.7rem;
		height: 3.7rem;
		line-height: 3.7rem;
		margin-right: 1.5rem;
		font-size: 2rem;
	}
	
	.conteneur li span {
		width: calc(100% - 5.2rem);
		font-size: 2rem;
	}
	
	.conteneur blockquote div {
		font-size: 4.5rem;
		padding: 3.5rem 2.5;
	}
	
	.conteneur blockquote span {
		font-size: 2.3rem;
	}
	
	#outils .application {
		margin-bottom: 2.5rem;
		width: 47%;
		padding-bottom: 47%;
		margin-right: 6%;
	}
	
	#outils .application:nth-of-type(2n) {
		margin-right: 0;
	}
	
	#contact label {
		font-size: 1.7rem;
	}
	
	#outils .applications > h5,
	#contact p,
	#contact textarea,
	#outils p {
		font-size: 2rem!important;
	}
	
	#don,
	#histoire,
	#contact input {
		font-size: 1.7rem!important;
	}
	
	footer .conteneur p {
		font-size: 1.7rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#outils .application {
		padding-bottom: 37%;
	}
}

@media screen and (min-width: 600px) and (max-width: 1023px) and (orientation: portrait) {
	#la-digitale {
		width: 85%;
		padding: 7rem 0;
	}
	
	#la-digitale h1 {
		font-size: 5.5rem;
	}
	
	#la-digitale h1:after {
		height: 1rem;
		margin: 2.5rem auto 3.5rem;
		width: 15rem;
	}
	
	#la-digitale h2 {
		font-size: 3rem;
	}
	
	#fleche {
		bottom: 3.5rem;
		font-size: 6.2rem;
	}
	
	#outils .application .contenu .meta span {
		font-size: 1.7rem;
	}

	#outils .application .contenu .liens a {
		font-size: 1.7rem;
	}
}

@media screen and (min-width: 600px) and (max-width: 767px) and (orientation: landscape) {
	#la-digitale {
		padding: 3.5rem 9rem;
	}
	
	#la-digitale h1 {
		font-size: 4rem;
	}
	
	#la-digitale h1:after {
		height: 0.7rem;
		margin: 1.5rem auto 2rem;
		width: 12rem;
	}
	
	#la-digitale h2 {
		font-size: 2.2rem;
	}
	
	#fleche {
		bottom: 1rem;
		font-size: 4rem;
	}
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
	#outils .application {
		padding-bottom: 37%;
	}

	#outils .application .contenu .meta span {
		font-size: 1.7rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
	#la-digitale {
		padding: 4.2rem 10rem;
	}
	
	#la-digitale h1 {
		font-size: 5.7rem;
	}
	
	#la-digitale h1:after {
		height: 0.7rem;
		margin: 2rem auto 3rem;
		width: 12rem;
	}
	
	#la-digitale h2 {
		font-size: 3rem;
	}
	
	#fleche {
		bottom: 1.5rem;
		font-size: 4.5rem;
	}

	#outils .application .contenu .meta span {
		font-size: 1.7rem;
	}
}

@media screen and (min-width: 1024px) {
	#outils .application {
		margin-bottom: 3%;
	}

	#outils .application:nth-of-type(4n) {
		margin-right: 0;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
	#la-digitale h1 {
		letter-spacing: 0.5rem;
		text-indent: 0.5rem;
	}
	
	#la-digitale h2 {
		letter-spacing: 0.25rem;
		text-indent: 0.25rem;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: portrait) {
	#la-digitale {
		width: 85%;
		padding: 9rem 0;
	}
	
	#la-digitale h1 {
		font-size: 7.5rem;
	}
	
	#la-digitale h1:after {
		height: 1.2rem;
		margin: 3.5rem auto 5rem;
		width: 15rem;
	}
	
	#la-digitale h2 {
		font-size: 5rem;
	}
	
	#fleche {
		bottom: 7rem;
		font-size: 8rem;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape) {
	#la-digitale {
		padding: 5rem 12rem;
	}
	
	#la-digitale h1 {
		font-size: 5.7rem;
	}
	
	#la-digitale h1:after {
		height: 1rem;
		margin: 2.5rem auto 3.5rem;
		width: 15rem;
	}
	
	#la-digitale h2 {
		font-size: 3.2rem;
	}
	
	#fleche {
		bottom: 3rem;
		font-size: 5.7rem;
	}
}

@media screen and (min-width: 1366px) and (orientation: portrait) {
	#la-digitale {
		padding: 10rem 14rem;
	}
	
	#la-digitale h1:after {
		height: 1.5rem;
		margin: 5rem auto 7.5rem;
	}
	
	#fleche {
		bottom: 7rem;
		font-size: 11rem;
	}
}
