@font-face {
	font-family: 'HKGrotesk-Black';
	src: url('../../fonts/HKGrotesk-Black.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga'
}

*,
:after,
:before {
    box-sizing: inherit;
}

html {
	font-size: 18pt;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'HKGrotesk-Black', sans-serif;
    letter-spacing: 0.05em;
	font-weight: 400;
    margin: 0 0 1rem;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
	line-height: 1.375;
}

h3 {
    font-size: 1.25rem;
	line-height: 1.375;
}

h3 a {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	text-decoration: none;
	font-weight: 500;
}

p {
    margin: 0 0 1rem;
}

a {
    text-decoration: underline;
}

label {
    text-align: left;
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.65;
}

.bouton {
    -webkit-appearance: none;
    appearance: none;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out, color .2s ease-in-out;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.75rem;
    max-width: 20rem;
    height: 3.75em;
    line-height: calc(3.75em + 2px);
    border-radius: 3.75em;
    padding: 0 2.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #000;
    color: #000;
}

section {
	border: 0;
}

ul {
    padding-left: 0;
	list-style: none;
	margin-top: 2rem;
}

ul li {
	border-top: 1px solid #eee;
	padding: 1rem 0;
}

ul li:first-child {
    border-top: 0;
    padding-top: 0;
}

footer {
    padding: 2.5rem 0;
}

.bouton.large {
	min-width: 14em;
}

#conteneur {
    background-color: inherit;
    width: 100%;
    overflow-x: hidden;
}

#conteneur > * {
	border-bottom: 1px solid #eee;
}

#conteneur .banniere {
	display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
    overflow-x: hidden;
	text-align: center;
	height: 100vh;
	background-image: url(../img/logikey.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#conteneur .banniere p {
    margin: 2.5rem 0;
	font-size: 1.25rem;
}

#conteneur .banniere .contenu {
    width: 50%;
    max-width: 52rem;
    margin: 0 auto;
	flex-grow: 1;
    transition: opacity 0.75s ease-in-out;
}

body.chargement .banniere .contenu {
    opacity: 0;
}

.vedette {
	display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    text-align: left;
}

.vedette.droite {
    flex-direction: row-reverse;
}

.vedette .contenu {
    padding: 7rem 7rem 5rem;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 65%;
    max-width: 64rem;
    margin: 0 auto;
}

.vedette .image {
	display: inline-block;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    width: 35%;
    min-width: 25rem;
    border-radius: 0;
}

.vedette .image picture,
.vedette .image img {
    object-fit: contain;
    object-position: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.conteneur {
	text-align: center;
}

.interieur {
    padding: 4rem 3.5rem;
    margin: 0 auto;
    max-width: 100%;
    width: 64rem;
}

.interieur.moyen {
    width: 48rem;
}

.conteneur.emphase h2:after {
    content: '';
    display: block;
    height: 7px;
    background-color: #f2cc00;
    margin: 10px auto 0;
    width: 100px;
}

.a-propos {
    margin-top: 2rem;
}

.interieur h2 span {
	color: #00ced1;
}

@media screen and (max-width: 1680px) {
    html {
        font-size: 14pt;
    }
	
	.vedette .contenu,
	#conteneur .banniere .contenu {
		padding: 5rem;
	}
	
	.interieur {
		padding: 3rem 2.5rem;
	}
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 12pt;
    }
	
	.vedette .contenu,
	#conteneur .banniere .contenu {
		padding: 4rem;
	}
	
	.interieur {
		padding: 3rem 4rem;
	}
}

@media screen and (max-width: 980px) {
	.vedette .image {
		width: 50%;
		min-width: 0;
	}
	
	.vedette .contenu {
		padding: 3.75rem 3rem 1.75rem;
		width: 50%;
		min-width: 0;
	}
}

@media screen and (max-width: 736px) {
    html {
        font-size: 11pt;
    }
	
	#conteneur .banniere p {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }
	
	.vedette .contenu {
		padding: 2.5rem 2rem 0.5rem;
	}
	
	.interieur {
		padding: 3rem 2rem 1rem;
	}
}

@media screen and (max-width: 736px) and (orientation: portrait) {
	.vedette,
	.vedette.droite {
		flex-direction: column-reverse;
		text-align: center!important;
	}
	
	.vedette .contenu,
	.vedette .image {
		width: 100%;
	}
	
	.vedette .image picture,
	.vedette .image img {
		position: relative;
	}
}

@media screen and (max-width: 360px) {
    html {
        font-size: 10pt;
    }
}
