@font-face {
	font-family: 'HKGrotesk-Black';
	src: url('../../fonts/HKGrotesk-Black.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga'
}

*,
:after,
:before {
    box-sizing: inherit;
}

html {
	font-size: 18pt;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'HKGrotesk-Black', sans-serif;
    letter-spacing: 0.05em;
	font-weight: 400;
    margin: 0 0 1rem;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
	line-height: 1.375;
}

h3 {
    font-size: 1.25rem;
	line-height: 1.375;
}

h3 a {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	text-decoration: none;
	font-weight: 500;
}

p {
    margin: 0 0 1rem;
}

a {
    text-decoration: underline;
}

label {
    text-align: left;
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.65;
}

.bouton {
    -webkit-appearance: none;
    appearance: none;
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out, color .2s ease-in-out;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.125em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.75rem;
    max-width: 20rem;
    height: 3.75em;
    line-height: calc(3.75em + 2px);
    border-radius: 3.75em;
    padding: 0 2.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #000;
    color: #000;
}

section {
	border: 0;
}

ul {
    padding-left: 0;
	list-style: none;
	margin-top: 2rem;
}

ul li {
	border-top: 1px solid #eee;
	padding: 1rem 0;
}

ul li:first-child {
    border-top: 0;
    padding-top: 0;
}

footer {
    padding: 2.5rem 0;
}

.bouton.large {
	min-width: 14em;
}

#conteneur {
    background-color: inherit;
    width: 100%;
    overflow-x: hidden;
}

#conteneur > * {
	border-bottom: 1px solid #eee;
}

#conteneur .banniere {
	display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
    overflow-x: hidden;
	text-align: center;
	height: 100vh;
	background-image: url(../img/edubox.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#conteneur .banniere p {
    margin: 2.5rem 0;
	font-size: 1.25rem;
}

#conteneur .banniere .contenu {
    width: 50%;
    max-width: 52rem;
    margin: 0 auto;
	flex-grow: 1;
    transition: opacity 0.75s ease-in-out;
}

body.chargement .banniere .contenu {
    opacity: 0;
}

.vedette {
	display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    text-align: left;
}

.vedette.droite {
    flex-direction: row-reverse;
}

.vedette .contenu {
    padding: 7rem 7rem 5rem;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 65%;
    max-width: 64rem;
    margin: 0 auto;
}

.vedette .image {
	display: inline-block;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    width: 35%;
    min-width: 25rem;
    border-radius: 0;
}

.vedette .image picture,
.vedette .image img {
    object-fit: contain;
    object-position: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.conteneur {
	text-align: center;
}

.interieur {
    padding: 4rem 3.5rem;
    margin: 0 auto;
    max-width: 100%;
    width: 64rem;
}

.interieur.moyen {
    width: 48rem;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0;
    position: relative;
}

.items > :nth-child(-n+3) {
    border-top-width: 0;
}

.items > :nth-child(3n+1) {
    border-left-width: 0;
}

.items > :nth-child(3n+1) {
    border-left-width: 0;
}

.items > * {
    flex-grow: 0;
    flex-shrink: 0;
    border-style: solid;
    padding: 2.1875rem 2.1875rem 0.1875rem;
    width: 33.33333%;
	border-color: #eee;
	border-top-width: 1px;
	border-left-width: 1px;
}

.icone {
    display: block;
    margin: 0 0 1rem;
}

.icone:before {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    text-transform: none!important;
    font-family: 'Material Icons';
    font-size: 1.25rem;
	border-radius: 2.75em;
    display: inline-block;
    height: 2.75em;
    line-height: 2.75em;
    width: 2.75em;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	font-weight: 900;
}

.performant:before {
    content: "\e85c";
}

.securise:before {
    content: "\e32a";
}

.pratique:before {
    content: "\e1b1";
}

.hors-ligne:before {
    content: "\e90a";
}

.polyvalent:before {
    content: "\eb3d";
}

.creatif:before {
    content: "\e3b7";
}

.conteneur.emphase h2:after {
    content: '';
    display: block;
    height: 7px;
    background-color: #ff2d55;
    margin: 10px auto 0;
    width: 100px;
}

.a-propos {
    margin-top: 2rem;
}

.interieur h2 span {
	color: #00ced1;
}

.keen-slider {
	display: flex;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	margin-top: 1.5rem;
}

.keen-slider,
.keen-slider__slide {
	overflow: hidden;
	position: relative;
}

.keen-slider__slide {
	width: 100%;
	min-height: 100%;
}

.keen-slider[data-keen-slider-v] {
	flex-wrap:wrap;
}

.keen-slider[data-keen-slider-v] .keen-slider__slide {
	width:100%;
}

.keen-slider[data-keen-slider-moves] * {
	pointer-events:none;
}

.conteneur-navigation {
	position: relative;
}

[class^="number-slide"],
[class*=" number-slide"] {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0;
}

.points {
	display: flex;
	padding: 1rem 0 0;
	justify-content: center;
}

.point {
	border: none;
	width: 1rem;
	height: 1rem;
	background: #c5c5c5;
	border-radius: 50%;
	margin: 0 0.5rem;
	padding: 0.5rem;
	cursor: pointer;
	box-shadow: none;
}

.point:focus {
	outline: none;
}

.point-actif {
	background: #000;
}

.fleche {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	fill: #000;
	cursor: pointer;
}

.fleche-gauche {
	left: 5px;
}

.fleche-droite {
	left: auto;
	right: 5px;
}

.fleche-desactive {
	cursor: default;
	fill: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1680px) {
    html {
        font-size: 14pt;
    }
	
	.vedette .contenu,
	#conteneur .banniere .contenu {
		padding: 5rem;
	}
	
	.interieur {
		padding: 3rem 2.5rem;
	}
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 12pt;
    }
	
	.vedette .contenu,
	#conteneur .banniere .contenu {
		padding: 4rem;
	}
	
	.interieur {
		padding: 3rem 4rem;
	}
}

@media screen and (max-width: 980px) {
	.vedette .image {
		width: 50%;
		min-width: 0;
	}
	
	.vedette .contenu {
		padding: 3.75rem 3rem 1.75rem;
		width: 50%;
		min-width: 0;
	}
	
	.items > * {
		padding: 3.5rem 3.5rem 1.5rem;
		width: 50%;
	}
	
	.items > :nth-child(3n+1) {
		border-left-width: 1px;
	}
	
	.items > :nth-child(-n+3) {
		border-top-width: 1px;
	}
	
	.items > :nth-child(2n+1) {
		border-left-width: 0;
	}
	
	.items > :nth-child(-n+2) {
		border-top-width: 0;
	}
}

@media screen and (max-width: 736px) {
    html {
        font-size: 11pt;
    }
	
	#conteneur .banniere p {
        font-size: 1.1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }
	
	.vedette .contenu {
		padding: 2.5rem 2rem 0.5rem;
	}
	
	.interieur {
		padding: 3rem 2rem 1rem;
	}
}

@media screen and (max-width: 736px) and (orientation: portrait) {
	.vedette,
	.vedette.droite {
		flex-direction: column-reverse;
		text-align: center!important;
	}
	
	.vedette .contenu,
	.vedette .image {
		width: 100%;
	}
	
	.vedette .image picture,
	.vedette .image img {
		position: relative;
	}
}

@media screen and (max-width: 480px) {
	.items > * {
		padding: 2.625rem 0 .625rem;
		width: 100%;
	}

    .items > :first-child {
		padding-top: 0;
	}
	
	.items > :nth-child(2n+1) {
		border-left-width: 1px;
	}
	
	.items > :nth-child(-n+2) {
		border-top-width: 1px;
	}
	
	.items > :nth-child(1n+1) {
		border-left-width: 0;
	}
	
	.items > :nth-child(-n+1) {
		border-top-width: 0;
	}
	
	ul li input[type=submit],
	ul li > * {
		width: 100%;
	}
}

@media screen and (max-width: 360px) {
    html {
        font-size: 10pt;
    }
}
